<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <application>
    <receiver
      android:name="expo.modules.liverest.LiveRestReceiver"
      android:exported="false" />
    <service
      android:name="expo.modules.liverest.LiveRestService"
      android:exported="false"
      android:stopWithTask="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="workout_rest_timer" />
    </service>
  </application>
</manifest>
